'fileTypes': [
  'fnk'
  'fun'
  'funk'
]
'foldingStartMarker': ''
'foldingStopMarker': ''
'name': 'Funk'
'patterns': [
  {
    'include': '#comments'
  }
  {
    'include': '#line-comments'
  }
  {
    'include': '#types'
  }
  {
    'include': '#functions'
  }
  {
    'include': '#definitions'
  }
]
'repository':
  'comments':
    'patterns': [
      {
        'applyEndPatternLast': 1
        'begin': '#\\{'
        'end': '\\}#'
        'name': 'comment.block.funk'
        'patterns': [
          {
            'include': '#comments'
          }
        ]
      }
    ]
  'line-comments':
    'patterns': [
      {
        'match': '#.*$'
        'name': 'comment.line.octothorpe.funk'
      }
    ]
  'types':
    'patterns': [
      {
        'match': '(type)\\s+([A-Za-z0-9_\']+)'
        'name': 'meta.type.declaration.funk'
        'captures':
          '1':
            'name': 'keyword.other.funk'
          '2':
            'name': 'storage.type.funk'
      }
    ]
  'functions':
    'patterns': [
      {
        'match': '([A-Za-z0-9_\']+)\\s*\\((\\s*(?:[A-Za-z0-9_\']+\\s*:\\s*[A-Za-z0-9_\']+\\s*,\\s*)*(?:[A-Za-z0-9_\']\\s*:\\s*[A-Za-z0-9_\']+)?\\s*\\))\\s*(->)(\\s*[A-Za-z0-9_\']+)'
        'name': 'meta.function.declaration.funk'
        'captures':
          '1':
            'name': 'entity.name.function.funk'
          '2':
            'match': '([A-Za-z0-9_\']+)\\s*:\\s*([A-Za-z0-9_\']+)'
            'name': 'variable.parameter.funk'
            'captures':
              '1':
                'name': 'variable.parameter.funk'
              '2':
                'name': 'storage.type.funk'
          '3':
            'name': 'entity.name.function.funk'
          '4':
            'name': 'storage.type.funk'
      }
    ]
  'defintions':
    'patterns': [
      {
        'match': '(let|var|val|set)\\s+([A-Za-z0-9_\']+)\\s*:\\s*([A-Za-z0-9_\']+)'
        'name': 'meta.variable.definition.funk'
        'captures':
          '1':
            'name': 'keyword.other.funk'
          '2':
            'name': 'variable.other.funk'
          '3':
            'name': 'storage.type.funk'
      }
    ]

'scopeName': 'source.funk'
