'fileTypes': [
  'fnk'
  'fun'
  'funk'
]
'foldingStartMarker': ''
'foldingStopMarker': ''
'name': 'Funk'
'patterns': [
  {
    'include': '#comments'
  }
  {
    'include': '#line-comments'
  }
  {
    'include': '#types'
  }
  {
    'include': '#functions'
  }
  {
    'include': '#keywords'
  }
  {
    'include': '#identifier'
  }
]
'repository':
  'comments':
    'patterns': [
      {
        'begin': '#\\{'
        'end': '#\\}'
        'name': 'comment.block.funk'
        'patterns': [
          {
            'include': '#comments'
          }
        ]
      }
    ]
  'line-comments':
    'patterns': [
      {
        'match': '#.*$'
        'name': 'comment.line.octothorpe.funk'
      }
    ]
  'types':
    'patterns': [
      {
        'begin': 'type\\s'
        'end': '='
        'name': 'type.define.funk'
      }
    ]
  'functions':
    'patterns': [
      {
        'begin': '[A-Za-z0-9_\']+\\s*\\(\\s*([A-Za-z0-9_\']+\\s*:\\s*[A-Za-z0-9_\']+\\s*,\\s*)*[A-Za-z0-9_\']\\s*:\\s*[A-Za-z0-9_\']+?\\s*\\)\\s*->\\s*[A-Za-z0-9_\']+'
        'end': '='
        'name': 'function.define.funk'
      }
    ]
  'identifier':
    'patterns': [
      {
        'match': '[A-Za-z0-9_\']+'
        'name': 'identifier.funk'
      }
    ]

'scopeName': 'source.funk'
